<launch>

    <arg name="is_launch_audio_capture" default="true"/>
    <arg name="device" default=""/>
    <arg name="format" default="wave"/>
    <arg name="instance_id" default="1"/>

    <rosparam file="$(find audio_capture2)/config/configuration.yaml" ns="/data_capture/$(arg instance_id)/" subst_value="True"/>

    <node pkg="audio_capture2" type="capture.py" name="$(anon audio_capture)_$(arg instance_id)" output="screen"
        args="
            --instance_id $(arg instance_id) 
        "
        />

</launch>
